.search-results {
  font-size: x-large;
  color: white;
  margin: 20px 20px;
}


/*disposition des films*/
.movies {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.movies img {
  margin-bottom: 5vh;
}
