#banner {
  padding: 5px 30px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  color: #dedede;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}
/*text*/
.title-movie-banner {
  font-size: x-large;
}
.overview-banner-movie {
  font-size: large;
  width: 70%;
}
/*button*/
.button-watch-now {
  width: 200px;
  padding: 10px 0px;
  justify-content: space-around;
  align-items: center;
  border-radius: 3px;
  background-color: white;
  color: #000000	;
  cursor: pointer;
}

.button-content{
  color: #000000	;
}

.button-watch-now:hover{
  background-color: rgba(255, 255, 255, 0.759);
}

.button-watch-now,
.button-content, 
.button-watch-now * {
  transition: color 0.3s ease, cursor 0.3s ease;
}

