/*button*/
.side-menu-button {
  background-color: transparent;
  border: none;
  color: #eeeeee69;
  
}

.side-menu-button:hover {
  color: #eeeeeeb0;
  transform: scale(1.04);
}

/*menu*/
.side-menu {
  background-color: black;
  height: 100vh;
  width: 50vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  color: #eeeeee69;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px 15px;
  font-size:20px;
}
.side-menu ul{
display: flex;
flex-direction: column;
gap: 1.5vh;
}
.dropdown-toggle{
padding: 0px;
}

.burger-menu li {
  list-style: none;
}


@media screen and (min-width: 600px) {
  .side-menu, .burger-menu
  {
    display: none;
  }

}